/* Begin of Contact Manager */

#progressbar {
	background-color: #e0e0e0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .3);
  height: 22px;
	margin-bottom: 20px;
	padding: 3px;
	transition: width 1000ms ease-in-out;
	width: 100%;
}

progress::-webkit-progress-bar { background: #e0e0e0; -webkit-border-radius: 3px; }
progress::-webkit-progress-value { background: #659cef; -webkit-border-radius: 3px; }
progress::-moz-progress-bar { background: #659cef; -moz-border-radius: 3px; }

#progress-window{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 10%;
	left: 10px;
	position: absolute;	
	text-align: center;
	-webkit-transform: translate(50%);
	-ms-transform: translate(50%);
	-o-transform: translate(50%);
	transform: translate(50%);
	top: 10px;
	width: 50%;
	z-index: 10300;
}

#progress-window p{
	margin-bottom: 10px;
}

.cnt-channel-list, .cnt-contact-list{
	background-color: #FFFFFF;
	border: 1px solid #DEEBF7;
	border-spacing: 0;
	border-collapse:collapse;
	display: table;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 10px;
	width: 450px;
}

.cnt-channel, .cnt-contact{
	border-bottom: solid 1px #DEEBF7; 
	cursor: pointer;
  margin: 0;
}

.cnt-channel td{
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 10px;
}

.cnt-channel:hover {
	background-color: #DEEBF7;
}

.cnt-channel.selected {
	font-weight: bold;
}

.cnt-contact-list{
	margin-right: 0;
	width: 950px;
}

.cnt-contact-list th{
	border-bottom: 1px solid #DEEBF7;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cnt-contact:hover td{
	background-color: #DEEBF7;
}

.cnt-statusbar{
	background-color: #FFFFFF;
	border: 1px solid #DEEBF7;
	font-weight: normal;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: left;
	width: 1410px;
}

#cnt-selected-list{
	left: 10px;
	position: absolute;
	top: 10px;
	z-index: 1000;
}

#cnt-selected-list ul{
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#cnt-selected-list ul li{
	padding: 9px 6px;
}

#cnt-selected-list ul li:hover{
	background-color: #DEEBF7;
}

#cnt-contact-search:hover{
	box-shadow: 0px 1px 5px #AAAAAA;
	-moz-box-shadow: 0px 1px 5px #AAAAAA;
	-webkit-box-shadow: 0px 1px 5px #AAAAAA;
}

#cnt-contact-move{
	position: absolute;
	z-index: 10200;
}

#cnt-contact-move ul{
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#cnt-contact-move ul li{
	padding: 9px 16px;
}

#cnt-contact-move p{
	padding: 9px 6px;	
}

#cnt-contact-move ul li:hover{
	background-color: #DEEBF7;
}

#cnt-contact-move ul span li{
	 border-top: 1px solid #ddd;
	 padding: 9px 6px;
}

#ctx-channel-menu{
	left: 10px;
	position: absolute;	
	top: 10px;
	z-index: 10200;
}

#ctx-channel-menu ul{
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#ctx-channel-menu ul li{
	padding: 9px 6px;
}

#ctx-channel-menu ul li:hover{
	background-color: #DEEBF7;
}

#ctx-channel-menu ul span li {
	border-top: 1px solid #ddd;
}

.btn-channel-menu{
	background-image: url("/my/data/svg/expand_more.svg"); 
	background-size: cover;
	display: none;  
	float: right; 
	height: 18px; 
	margin-right: 20px;  
	vertical-align: middle; 
	width: 18px; 
}

#btn-add-channel{
	background-image: url("/include/add-channel.png"); 
	background-size: cover; 
	float: right; 
	height: 18px; 
	margin-right: 20px;  
	vertical-align: middle; 
	width: 18px;
}

#cnt-contact-search{
	height: 30px;
	width: 300px;
}

#get-newchannel-name{
	left: 10px;
	position: absolute;
	top: 10px;
	z-index: 1000;
}

#text-newchannel-name {
	font-size: 14px;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 1px 2px 0px #AAAAAA;
	-moz-box-shadow: 0px 1px 2px 0px #AAAAAA;
	-webkit-box-shadow: 0px 1px 2px 0px #AAAAAA;
	background-color: #FFF;
	height: 30px;
	min-width: 278px;
	padding: 5px;
}
#text-newchannel-name:focus {
	box-shadow: 0px 1px 9px #AAAAAA;
	-moz-box-shadow: 0px 1px 9px #AAAAAA;
	-webkit-box-shadow: 0px 1px 9px #AAAAAA;
}

#tooltip
{
	background: #333;
	background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .6 ) ), to( rgba( 0, 0, 0, .8 ) ) );
	background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: -moz-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: -ms-radial-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: -o-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	background: linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top: 1px solid #fff;
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	-moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	color: #fff;
	font-family: Ubuntu, sans-serif;
	font-size: 0.875em;
	line-height: 1.25;
	padding: 5px;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px rgba( 0, 0, 0, .5 );
	z-index: 100;
}
  
#tooltip:after 
{
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top-color: #333;
		border-top: 10px solid rgba( 0, 0, 0, .7 );
		bottom: -10px;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -10px;
		position: absolute;
		width: 0;
}
  
#tooltip.top:after
{
		border-top-color: transparent;
    border-bottom-color: #333;
		border-bottom: 10px solid rgba( 0, 0, 0, .6 );
		bottom: auto;
		top: -20px;
}
  
#tooltip.left:after
{
		left: 10px;
		margin: 0;
}
  
#tooltip.right:after
{
		left: auto;
		margin: 0;
		right: 10px;
}

#cnt-manager{
	height: 600px;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	width: 1420px;
}

/* End of Contact Manager */
