#order_li .order.new .order_content {
	background-color:#ffffd6;
}

.not_find {
	color: #ff0000 !important;
}

.hidden {
	display: none !important;
}

#order_li .order.new .order_content:hover {
	background-color:#EEEEEE;
}

/*===============================Cat_Download============================*/
#download_cat {
	position: relative; 
	top:-90%; 
	width:400px;
	margin: 0 auto;
	overflow: hidden;
}

#download_cat .teleport_buttons,
#download_cat .teleport_links,
#download_cat .link-block {
	width: 400px;
	padding: 0 10px;
	margin: 15px 0;
	box-sizing: border-box;
	overflow: hidden;
}

#download_cat .teleport_links {
	padding-top: 25px;
	clear: both;
	border-top: 2px inset #f4f4f4;
}

#download_cat .teleport_buttons .header {
	font-size: 24px;
}

#teleport_btn,
#yml_btn,
#bitrix_btn,
#excel_btn {
	position: relative;
	overflow: hidden;
	float: left;
}

#bitrix_btn,
#excel_btn {
	display: none;
}

#download_cat .button{
	display:block;
	float:left;
	left: 0;
	width: 120px;
	padding: 15px 20px; 
	margin: 14px;
	font-weight: 600; 
	text-align:center; 
	font-size: 18px; 
}

#download_cat .share_text,
#download_cat .public_text{
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}

#download_cat .share_link.active+.share_text{
	top: 15px;
}

#download_cat .share_link.active{
	line-height: 20px;
}

#download_cat .link_flag{
	width: 56px;
	height: 23px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	background: url('/include/checkbox.png') no-repeat;
	background-position:0 0;
	cursor: pointer;
	border: 0 !important;
    outline: none;
}

#download_cat .link_flag.active{
	background-position:0 -24px;
}

#download_cat .link-block span {
	display: block;
	font-size: 14px; 
	font-weight: 600;
	padding: 15px 0 5px 0;
}

#download_cat .link-block input{
	cursor:pointer;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #777;
	width: 88%;
	font-size: 12px; 
	background: #fbfbfb; 
}

/*===============================Cat_Download_End============================*/


/*===============================Cat_Copy============================*/
#copy_cat {
	width:350px; 
	height:350px; 
	position: relative; 
	top:-90%; 
	margin: 0 auto;
	overflow: hidden;
}

#copy_cat .caption {
	width:100%; 
	padding:30px 0 50px 0; 
	text-align:center; 
	font-size:18px; 
	font-weight:600; 
	line-height: 24px;
}

#copy_cat .button{
	width:125px; 
	left:35px;
	padding:10px; 
	text-align:center; 
	font-size:16px; 
	font-weight:600;
	box-sizing:border-box;	
}

#copy_cat .button:hover{
	background:#26A69A;
}

#copy_cat .button.no{
	left:65px;
}

#copy_cat .cat_autoupdate {
	position: relative;
	padding: 20px 0 0 35px;
	cursor:pointer;
}

#copy_cat .cat_autoupdate .checkbox {
	float: left;
	border: 1px solid #CCC;
}

#copy_cat .cat_autoupdate .checkbox.checked {
    background-image: url('/my/data/svg/check.svg');
}

#copy_cat .update_val {
	width: 250px;
	padding-left:30px; 
	font-size: 16px; 
	font-weight: 600;
	color:#777;
}

#copy_cat  .close_line .help_icon {
	left:10px;
	right:inherit;
    top: 10px;
}

#copy_cat  .cat_autoupdate .help_icon {
    top: 20px;
}
/*===============================Cat_Copy_End============================*/


/*===============================Cat_Update============================*/
#update_cat {
	width:350px; 
	min-height:150px; 
	height:auto;
	position: relative; 
	top:-90%; 
	margin: 0 auto;
	overflow: hidden;
}

#update_cat .title { 
	width:300px;
	padding: 20px 0; 
	margin: 0 auto;
	font-weight: 600;
    text-align: center;
    font-size: 18px;
	line-height: 24px;
}

#update_cat  #add_catfile {
	width: 180px;
    height: 40px;
	margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
	cursor:pointer;
}

#update_cat #add_catfile p{
	padding-left:40px;
	font-weight: 600;
    font-size: 16px;
    line-height: 40px;
	text-align:left;
}

#update_cat #add_catfile svg{
    position: absolute;
	top: 4px;
    left: 4px;
}

#update_cat #add_catfile:hover {
    background: #26A69A;
}

#update_cat #add_catfile:hover svg{
    fill: #fff;
}

#update_cat #cat-fileinfo .msg_file{
	display: block;
    width: 300px;
    margin: 30px auto;
	background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
}

#update_cat #upload_catfile.button { 
    width: 180px;
    height: 40px;
	left:85px;
	font-weight: 600;
    font-size: 16px;
    line-height: 40px;
	text-align:center;
	cursor:pointer;
}		
/*===============================Cat_Update_End============================*/

/*===============================CntView_AddFile============================*/
#cnt_view #cntfile_form { width: 99%; margin: 10px 0;}
#cnt_view #empty_files {font-size: 24px; color: #999; font-style: italic; padding-top: 45px; text-align: center;}
#cnt_view .border_block {border: 1px solid #CCC; border-radius: 5px;}

#cnt_view #add_cntfile {
	position: relative;
    border: 1px solid #CCC;
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    padding: 15px 10px;
    box-sizing: border-box;
}

#cnt_view .msg_file { 
	width: 99%; 
	max-width: 99%; 
	margin: 2px 0; 
	padding-bottom: 10px;
}

#cnt_view #add_cntfile p{
	margin-left:35px;
	font-weight: 600;
    font-size: 16px;
	text-align:left;
}

#cnt_view #add_cntfile svg{
    position: absolute;
	top: 10px;
    left: 4px;
}

#cnt_view #add_cntfile:hover {
    background: #26A69A;
	color: #FFF;
}

#cnt_view #add_cntfile:hover svg{
    fill: #fff;
}

#cnt_view #cnt-fileinfo {
	clear:both;
	position: absolute;
    top: 30px;
    width: 100%;
	z-index: 999;
}

#cnt_view #cnt-fileinfo .msg_file {
	padding-bottom: 0;
}

#cnt_view #upload_cntfile:hover svg{
    fill: #26A69A;
}

#cnt_view #send_cntfile {
	margin: 20px 0;
    height: 40px;
}

#cnt_view #send_cntfile svg {
	margin-top:4px;
	cursor:pointer;
}

#cnt_view #send_cntfile:hover svg {
	fill: #26A69A;
}
/*===============================CntView_AddFile_End============================*/


#order_view .docview {
    position: relative;
    height: 96%;
	margin-top:10px;
	border: 2px solid #eee;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}


#order_view  .sidebar {
    position:absolute;
	bottom:0;
	right:0;
    width: 5px;
    background-color: #FFF;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 3px 0 0 3px;
	transition: all 0.2s;
	z-index: 9999;
}

#order_view  .sidebar.opened {
	width:400px;
	transition: width 0.2s;
}

#order_view  .sidebar .pan_bar {
	display:block !important;
	top:45%;
	right: -2px;
	transition: all 0.2s;
}

#order_view  .sidebar .pan_bar.opened {
	right: 392px;
	transition: all 0.2s;
}

#order_view  .sidebar .pan_bar:before {
	content: '<';
}

#order_view  .sidebar .pan_bar.opened:before {
	content: '>';
}

#order_view .sidebar>div {
	display:none;
}

#order_view .sidebar-header {
    text-align: center;
    padding: 13px 10px;
    color: #777;
    font-weight: 800;
    border-bottom: 1px solid #CCC;
	background: #ECEFF1;
}

#order_view .sidebar-item-header {
    padding: 15px 15px 15px 50px;
	border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    text-align: left;
	background: #f9f9f9;	
    white-space: nowrap;
	cursor:pointer;
}

#order_view .sidebar-item-header .fa{
    padding-right: 15px;
    font-size: 18px;
	color: #26A69A;
}

#order_view .sidebar-item-content{
    display:none;
}

#order_view .sidebar-item-box {
    padding: 15px 15px 15px 25px;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

#order_view .sidebar-item-box  .fa {
    border: 1px solid #777;
    border-radius: 3px;
    font-size: 15px;
    width: 15px;
    height: 15px;
	margin-right: 20px;
	float: left;
}

#order_view .sidebar input,
#order_view .sidebar textarea {
	font-size:14px;
	font-weight: 600;
	color:#777;
	padding:10px 10px;
	background: #fbfbfb;
    border-radius: 3px;
}

#order_view .sidebar textarea {
	width: 100%; 
	border: 1px solid #ccc !important;
	background: #fff;
	resize:none;
}

#order_view  .mess_send {
	position:absolute;
	bottom:0;
}

#order_view .order_header {
    height: auto;
	padding-bottom:30px;
	box-sizing: border-box;
}

#order_view #order_num {
	float: left;
}

#order_view .order_status {
    float: right;
    font-size: 17px;
    color: #26A69A;
	padding-right: 20px;
	text-align: right;
}

#order_view .msg_status {
    top: 0px; 
}

#order_view .order_status .ord_hd_x1 {
    width: auto;
    padding-right: 10px;
}

#order_view .order_headline {
	clear:both;
}

#order_view  .order_controls {
	overflow: hidden;
	padding: 15px 0;
    border: 1px inset #f9f9f9;
	border-left: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 3px;
    width: 99%;
	box-sizing: border-box;
}

#order_view  .order_controls .func-buttons {
	float: left;
}

#order_view  .order_controls .confirm-buttons {
	float: right;
}

#order_view  .order_controls .button{
	left:0;
}

#order_view  .order_controls .fa {
	float: left;
	padding:15px;
	margin: 0 20px;
	font-size:20px;
}

#order_view  .order_controls .fa:hover {
	color: #fff;
}

#order_view  .order_controls .fa.active {
	color: #fff;
	background: #26A69A;
}

#order_view .fa {
	color: #777;
}

#order_view  .fa:hover {
	color: #26A69A;
}

#order_view .fa-minus {
	float: left;
}

#order_view .fa-plus {
	float: right;
}

#order_view  #del_item.disabled,
#order_view  #del_item.disabled:hover {
	color:#eee;
	border-color:#ccc;
	background:inherit;
	cursor:default;
}

#order_view  .modal_window  {
	position: absolute;
	overflow: hidden !important;
	overflow-y: auto !important;
	max-height: 300px;
	box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	font-size: 14px;
}

#order_view .modal_window.item_sel {
	left: 10px;
	overflow: hidden !important;
}

#order_view .order_positions  .modal_window .items_short,
#order_view .modal_window .items_short .item,
#order_view .modal_window.item_sel .col_2 {
	width: 99% !important;
    border-right:0;
	text-align: left;
	box-shadow: none;
}

#order_view .modal_window .slimScrollDiv {
	box-shadow: none !important;
}

#order_view .modal_window .items_short .item {
    display: block;	
	width:99%;	
}

#order_view .modal_window.item_sel .col_1,
#order_view .modal_window.item_sel .col_4,
#order_view .modal_window.item_sel .col_5 {
    display:none;
}


/*           DocItems Table                 */
#order_view  .order_positions {
	width: 99%;
	clear: both;
	overflow: hidden;
	overflow-x: auto;
	box-sizing: border-box;
}

#order_view  .order_positions .item.opened .item_content {
	background:#f4f4f4;
    border: 4px solid transparent;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px #AAAAAA;
    -moz-box-shadow: 0px 1px 2px 0px #AAAAAA;
    -webkit-box-shadow: 0px 1px 2px 0px #AAAAAA;
}

#order_view .item.input_row .input_col {
    border: 0;
	padding:8px 5px;
	width:100%;
	font-size:14px;
	font-weight: 600;
    border-radius: 3px;
	font-style:italic;
	color:#777;
	background: #fff;
}

#order_view .item:not(.input_row) .col_0 .fa {
    border: 1px solid #777;
    border-radius: 3px;
}

#order_view .item .col_0 .fa {
    font-size: 20px;
    width: 20px;
    height: 20px;
}


#order_view .order_item_list_content .col_2 .caption {
	float: left;
    min-width:360px;
	width: 85%;
	text-align: left;
	box-sizing: border-box;
}

#order_view .order_item_list_content .col_2 .fa {
	float: right;
}

#order_view .order_item_list_content .col_2 .fa-chevron-down{
    color: #26A69A;
}   



#order_view  .order_item_list_content input {
	padding:3px 5px;
	text-align:center;
	box-sizing:border-box;
	border:0;
	background: #f6f6f6;
	font-size:14px;
	font-weight: 600;
	color:#777;
	border-radius: 3px;
}

#order_view  .order_item_list_content .col_7 input {
	padding: 0;
    border-radius: 0;
    background: transparent;
    width: 100%;
} 

#order_view  .order_item_list_content select {
	padding:3px;
	background: #f6f6f6;
	font-size:14px;
	font-weight: 600;
	color:#777;
	border-radius: 3px;
}

#order_view  .col_4 .quantity,
#order_view  .col_5 .confirmed  {
	width:70%;
}

#order_view .order_item_list_content .col_4 .fa,
#order_view .order_item_list_content .col_5 .fa  {
    font-size: 14px;
	padding: 3px 0;
}

#order_view .order_positions .item.opened {
	border-bottom: 0;
}

#order_view .order_positions .item.opened td {
	background: #f5f5f5;
}

#order_view #order-item-info td {
	padding: 0;
	background: #eee;
}

#order_view #order-item-info .detailed-info-block {
	height: 100%;
	background: #f5f5f5;
	padding: 20px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #888;
	overflow: hidden;
}

#order_view #order-item-info .item_detail_info_table {
    text-align: left;
}

#order_view #order-item-info .info_block {
	display:none;
}

#order_view #order-item-info .info_block.selected {
	display:block;
}

#order_view  #order-item-info .detailed-info-block>.item_detail_info_header {
	display:none;
}

#order_view  .item_detail_info_header {
    font-weight: 600;
    font-size: 14px !important;
}

#order_view .simple_button {
    padding: 10px 20px !important;
}

#order_view .item_photo_list,
#order_view .item_photo_li,
#order_view .item_photo {
    height: 150px !important;
    width: 150px !important;
}

#order_view .order_positions .input_row>.item_content {
	background: #eee;
}

#order_view .cnt_sel {
    width: 300px;
    margin-left: 5px; 
	overflow: hidden !important;
}

#order_view  .item.selected  .item_content{
	background: #eee;
}

#order_view .order_item_list_head {
	width: 99.9%;
    box-shadow: 1px 1px 2px;
	margin: 3px 0 6px 0;
	border-left: 1px solid #ccc;
	border-radius: 3px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#order_view .order_item_list_content {
	display: block;
	width: 100% !important;
	height: auto !important;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#order_view  .order_positions .slimScrollDiv {
	box-shadow: 0px 0px 2px;
	border-left: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 3px;
	display: flex;
	width: 99.8% !important;
}

#order_view .order_item_list_head .item_list_header td,
#order_view  .order_item_list_head .input_row td,
#order_view .order_item_list_content td {
	cursor: pointer;
	background: #fff;
	vertical-align: middle;
	text-align:  center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	padding: 10px 10px;
    white-space: normal;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-width: 75px;
}

#order_view .order_item_list_head .item_list_header td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#order_view  .order_item_list_head .input_row td,
#order_view .order_item_list_content tr:hover td{
	background: #eee;
}

#order_view .order_positions .col_0 {
	width: 40spx !important;
	min-width: 40px !important;
	max-width: 40px !important;
}

#order_view .order_positions .col_1 {
	min-width: 140px !important;
}

#order_view .order_positions .col_2 {
	min-width: 400px !important;
}

#order_view .order_positions .col_3 {
	min-width: 75px !important;
}

#order_view .order_positions .col_4,
#order_view .order_positions .col_5 {
	min-width: 110px !important;
	max-width: 110px !important;
}

#order_view .order_positions .col_6,
#order_view .order_positions .col_7 {
	min-width: 130px !important;
	max-width: 130px !important;
}
/*               docItems table End                */



#order_view .msg_file {
    min-width: 320px;
}

#order_view #send_msg {
    padding: 0 0 0 25px;
}

.mess-list {
    overflow-y: auto;
}

.fa.show-docs:hover,
.fa.show-docs.active {
	color: #26A69A !important;
}

div#UserDocList {
	display: none;
	position: absolute !important;
	right: 45px;
	top: 45px;
	background-color: #FBFBFB;
    border: 1px solid #CCCCCC;
    padding: 10px;
    z-index: 9999;
    box-shadow: 2px 2px 4px #777777;
    border-radius: 5px;
}

div#UserDocList .UserDocItem{
	display: block;
	border: 0;
	padding: 10px;
}

div#UserDocList .UserDocItem:hover {
	color: #fff;
	background: #26A69A;
}

.order_item_list_content tbody {
	display: table;
	width: 100% !important;
}

#order_view  .order_item_list_head .input_row .col_3 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	height: 50px;
}

#order_view  .order_item_list_head .input_row .col_3 .totalsum-block {
	display: block;
    position: absolute;
	top: 0;
    right: 10px;
    height: 100%;
	line-height: 50px;
	color: #26A69A;
}

#order_view  .order_item_list_head .input_row .col_3 .total-sum {
	    padding-left: 5px;
}

#order_view  .confirm-buttons .button .button-text {
	padding-left: 10px;
	font-family: 'Open Sans';
	font-size: 17px;
}

#del-user-file {
	display: none;
	position: absolute;
	top: 15px;
	right: 65px;
	font-size: 24px;
	cursor: pointer;
	color: #888;
}

#del-user-file:hover {
	color: #26A69A;
}

.msg_file:hover #del-user-file {
	display: block;
}

#it_cart .info>div {
	display: inline-block;
}

#upl_xls_form {
	display: inline-block;
}

#uploadifive-xls_upl,
#uploadifive-xls_upl-queue .uploadifive-queue-item  {
	display: none !important;
}

#order_view #dialog {
    display: block;
    top: -70%;
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
	background-color: #FBFBFB;
    border: 1px solid #CCCCCC;
	display: none;
    z-index: 9999;
    box-shadow: 2px 2px 4px #777777;
    -moz-box-shadow: 2px 2px 4px #777777;
    -webkit-box-shadow: 2px 2px 4px #777777;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#order_view #dialog .text-box {
	padding-bottom: 30px;
}

#order_view #dialog .button-box {
	
}

#order_view #dialog .button-box .button {
	width: 60px;
	left: 0;
	padding: 5px 15px;
	margin: 0 30px;
}

#telebot_info {
	z-index: 9999;
}

#upl_xls.success {
	background: #26A69A;
	color: #fff;
	transition: background 0.5s;
}

#upl_xls.danger {
	background: #f0b66a;
	color: #fff;
	transition: background 0.5s;
}

#upl_xls.error {
	background: #bd1f1f;
	color: #fff;
	transition: background 0.5s;
}

.modal_bg {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
	background: rgba(249, 249, 249, 0.8);
}

#order_view .modal_window .slimScrollDiv {
	border-left: 0;
}

#detail_info_window  {
	position: relative;
}

#detail_info_window  .fa-pencil-square-o {
	cursor: pointer; 
	margin-left: 15px; 
	font-size: 36px; 
	color: #777;
	line-height: 40px;
}

#detail_info_window  .fa-pencil-square-o:hover {
	color: #26A69A;
}

#detail_info_window .item_detail_block_edit {
	width: 740px;
	height: 400px;
	position: absolute;
	top: 45px;
	left: 50%;
    margin-left: -370px;
	padding: 5px;
	background: #f4f4f4;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#detail_info_window .item_detail_block_edit  .close {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 12px;
}

#detail_info_window .item_detail_block_edit  .close:hover {
    border: 1px solid #777;
}

#detail_info_window .item_detail_block_edit  .right-column .button  {
	left: 0;
	padding: 5px 15px;
}

#detail_info_window .item_detail_block_edit  .right-column .button.catalog  {
	margin-right: 30px;
}

#detail_info_window .item_detail_block_edit  .right-column .button.active  {
	border-color: #26A69A !important;
	background: #26A69A !important; 
	color: #fff;
}

#detail_info_window .item_detail_block_edit  .right-column .catalog-block,
#detail_info_window .item_detail_block_edit  .right-column .properties-block {
	height: 180px;
	border: 1px solid #ccc;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}

#detail_info_window .item_detail_block_edit  .button.save-item-detail  {
	left: 0;
	padding: 10px 30px;
	font-weight: 600;
	display: block;
    clear: both;
    width: 120px;
    margin: 0 auto;
}

#detail_info_window .item_detail_block_edit .item-photo {
	width: 270px;
	height: 250px;
	background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

#detail_info_window  .item_detail_block_edit .im_it_line {
    position: absolute;
    top: -10px;
    left: 10px;
}

#detail_info_window  .item_detail_block_edit .im_it_line div {
    display: inline-block;
}

#detail_info_window .item_detail_block_edit .left-column,
#detail_info_window .item_detail_block_edit .right-column {
	float: left;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

#detail_info_window .item_detail_block_edit .left-column {
	width: 300px;
	min-height: 1px;
}

#detail_info_window .item_detail_block_edit .right-column {
	width: 440px;
	text-align: left;
}

#detail_info_window .item_detail_block_edit .item-catalog,
#detail_info_window .item_detail_block_edit .item-prop {
	padding: 10px 0;
	text-align: left;
}

#detail_info_window .item_detail_block_edit input,
#detail_info_window .item_detail_block_edit textarea {
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 200px;

}

#detail_info_window .item_detail_block_edit textarea {
	resize: none;
	height: 60px;
}

#detail_info_window .item_detail_block_edit .item-catalog span,
#detail_info_window .item_detail_block_edit .item-prop .name {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	width: 150px;
	vertical-align: middle;
	text-align: right;
	padding-right: 15px;
}

#detail_info_window .item_detail_block_edit .item-catalog .description {
	vertical-align: top;
}

#it_cart.empty {
	display: none;
}

.item_detail_block .fa-pencil-square-o,
.detailed-info-block .fa-pencil-square-o {
	display: none;
}

#ext_pan_content .scrollist .showmore {
	padding: 10px 0;
    width: 300px;
    left: 0;
    text-align: center;
    font-weight: 600;
}


#pastedImageBlock {
	display: none;
	width: 760px;
	max-height: 480px;
	position: absolute;
	bottom: 100px;
	left: 50%;
    margin-left: -270px;
    background: #fff;
    z-index: 999;
	border: 1px solid #CCC;
	padding: 4px;
	box-shadow: 2px 2px 4px #777777;
	text-align: center;
}

#pastedImage {
	display: block;
	margin: 0 auto;
	position: relative;
	max-width: 740px;
	max-height: 420px;
	height: auto;
	z-index: 1;
}

#pastedImageBlock .buttons {
	width: 100%;
	margin: 15px auto;
}

#pastedImageBlock .button {
	left: 0;
	padding: 7px 15px;
}

.order_headline .add-file-to-doc {
	padding: 5px 15px;
}

.order_headline #doc-filename {
    display: inline-block;
    vertical-align: bottom;
	margin-left: 100px;
}

#doc-filename .msg_file {
    padding: 5px 15px;
	min-width: 120px;
}

#doc-filename .del_file .cloud {
    top: -5px;
    right: -10px;
}

#doc-filename .del_file .cloud svg {
    width: 24px;
}

#doc-filename .file_icon {
	top: -2px;
    left: 0;
}

#doc-filename .file_icon svg {
	width: 24px;
    height: 24px;
}

#doc-filename .file_block {
	margin-right: 30px;
}

#doc-filename .file_block .filename {
	padding: 0 30px;
}

#doc-filename .file_block .file_info {
	padding: 0;
}


.item_block_name {
    padding: 3px 0;
}

.item_block_name_allows span {
    position: relative;
    float: right;
}

.item_block.action:before,
.item_block.action + #detail_info_window:before {
	content: url('../img/action.png');
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}

.item.action .item_line .col_3,
.item_block.action .item_price {
	color: #d20000;
}

.item_line .col_3 {
    width: 10%;
    text-align: center;
}

.item_block.action .item_price.cross-out span {
	text-decoration: line-through;
}

#item_li.block_view {
	display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}